$white: rgba(#ffffff);
$purple-dark: rgba(#35273A);
$purple-grey: rgba(#D9D9D9, 0.16);
$lilac-light: rgba(#FAF5FE);
$lilac-middle: rgba(#F4E9FB);
$orange: rgba(#EE9236);
$apricot-light: rgba(#FFB770, 0.3);
$apricot-middle: rgba(#FFB770, 0.6);
$apricot-dark: rgba(#FFB770);