<section class="survey-list">
    <div class="survey-list-container">
        <h2 class="section-title">Your surveys</h2>
        <div class="featured">
            <h3 class="featured-label">Ending soon surveys</h3>
            <div class="featured-grid">
            @for (survey of featuredSurveys; track survey.id) {
                <div class="featured-card" (click)="openSurvey(survey.id)">
                <div class="featured-card-top">
                    <span class="featured-card-category">{{ survey.category }}</span>
                    <h4 class="featured-card-title">{{ survey.title }}</h4>
                </div>
                <span class="featured-card-badge">
                    Ends in {{ survey.endsInDays }} {{ survey.endsInDays === 1 ? 'Day' : 'Days' }}
                </span>
                </div>
            }
            </div>
        </div>
        <app-survey-list-all />
    </div>
</section>
