@import 'styles/variables';
@import 'styles/fonts';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    font-family: var(--font-body);
}